<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :name, class: "control-label" %>
    <%= text_input f, :name, class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :level, class: "control-label" %>
    <%= number_input f, :level, class: "form-control" %>
    <%= error_tag f, :level %>
  </div>

  <div class="form-group">
    <%= label f, :schools, class: "control-label" %>
    <%= text_input f, :schools, class: "form-control" %>
    <%= error_tag f, :schools %>
  </div>

  <div class="form-group">
    <%= label f, :range, class: "control-label" %>
    <%= text_input f, :range, class: "form-control" %>
    <%= error_tag f, :range %>
  </div>

  <div class="form-group">
    <%= label f, :duration, class: "control-label" %>
    <%= text_input f, :duration, class: "form-control" %>
    <%= error_tag f, :duration %>
  </div>

  <div class="form-group">
    <%= label f, :area_of_effect, class: "control-label" %>
    <%= text_input f, :area_of_effect, class: "form-control" %>
    <%= error_tag f, :area_of_effect %>
  </div>

  <div class="form-group">
    <%= label f, :components, class: "control-label" %>
    <%= text_input f, :components, class: "form-control" %>
    <%= error_tag f, :components %>
  </div>

  <div class="form-group">
    <%= label f, :casting_time, class: "control-label" %>
    <%= text_input f, :casting_time, class: "form-control" %>
    <%= error_tag f, :casting_time %>
  </div>

  <div class="form-group">
    <%= label f, :saving_throw, class: "control-label" %>
    <%= text_input f, :saving_throw, class: "form-control" %>
    <%= error_tag f, :saving_throw %>
  </div>

  <div class="form-group">
    <%= label f, :effect, class: "control-label" %>
    <%= textarea f, :effect, class: "form-control" %>
    <%= error_tag f, :effect %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
