<h2>Listing spells</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Level</th>
      <th>Schools</th>
      <th>Range</th>
      <th>Duration</th>
      <th>Area of effect</th>
      <th>Components</th>
      <th>Casting time</th>
      <th>Saving throw</th>
      <th>Effect</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for spell <- @spells do %>
    <tr>
      <td><%= spell.name %></td>
      <td><%= spell.level %></td>
      <td><%= spell.schools %></td>
      <td><%= spell.range %></td>
      <td><%= spell.duration %></td>
      <td><%= spell.area_of_effect %></td>
      <td><%= spell.components %></td>
      <td><%= spell.casting_time %></td>
      <td><%= spell.saving_throw %></td>
      <td><%= spell.effect %></td>

      <td class="text-right">
        <%= link "Show", to: spell_path(@conn, :show, spell), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: spell_path(@conn, :edit, spell), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: spell_path(@conn, :delete, spell), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New spell", to: spell_path(@conn, :new) %>
