<h1><%= @spell.name %></h1>
<h2>(<%= @spell.schools %>)</h2>
<table class="table">
  <thead>
    <tr>
      <th>Level</th>
      <th>Range</th>
      <th>Duration</th>
      <th>Area of effect</th>
      <th>Components</th>
      <th>Casting time</th>
      <th>Saving throw</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @spell.level %></td>
      <td><%= @spell.range %></td>
      <td><%= @spell.duration %></td>
      <td><%= @spell.area_of_effect %></td>
      <td><%= @spell.components %></td>
      <td><%= @spell.casting_time %></td>
      <td><%= @spell.saving_throw || "None" %></td>
    </tr>
  </tbody>
</table>
<div>
  <%= @spell.effect %>
</div>

<%= link "Edit", to: spell_path(@conn, :edit, @spell) %>
<%= link "Back", to: spell_path(@conn, :index) %>
